import styles from "./{{ kebabCase name }}.module.scss"

import * as React from "react"; 

export type {{properCase name}}Props = {};

export const {{properCase name}} = (props: {{properCase name}}Props) => { 
  return (
    <div className={styles['{{ kebabCase name }}']}>
      {{properCase name}}
    </div>
  ); 
};